cloneoverflow-latex/cloneoverflow.aux
cloneoverflow-latex/cloneoverflow.bbl
cloneoverflow-latex/cloneoverflow.blg
cloneoverflow-latex/cloneoverflow.log
cloneoverflow-latex/cloneoverflow.synctex.gz
*.iml
.idea
cloneoverflow.pdf
