cloneoverflow-latex/cloneoverflow.aux
cloneoverflow-latex/cloneoverflow.bbl
cloneoverflow-latex/cloneoverflow.blg
cloneoverflow-latex/cloneoverflow.log
cloneoverflow-latex/cloneoverflow.out
cloneoverflow-latex/cloneoverflow.synctex.gz
*.iml
.idea
cloneoverflow.pdf
SCCTokenizer/files
SCCTokenizer/fileidmap.txt
SCCTokenizer/methods.txt
SCCTokenizer/so-more-than-10-log.log
SCCTokenizer/so-stats.stats
SCCTokenizer/so-tokens.tokens
SCCTokenizer/so.txt
MethodExtractor/target
zero_method.txt
