cloneoverflow-latex/cloneoverflow.aux
cloneoverflow-latex/cloneoverflow.bbl
cloneoverflow-latex/cloneoverflow.blg
cloneoverflow-latex/cloneoverflow.log
cloneoverflow-latex/cloneoverflow.out
cloneoverflow-latex/cloneoverflow.synctex.gz
*.iml
.idea
cloneoverflow.pdf
SCCTokenizer/files
SCCTokenizer/fileidmap.txt
SCCTokenizer/methods.txt
SCCTokenizer/so-more-than-10-log.log
SCCTokenizer/so-stats.stats
SCCTokenizer/so-tokens.tokens
SCCTokenizer/so.txt
MethodExtractor/target
zero_method.txt
cloverflow-tse/cloverflow.aux
cloverflow-tse/cloverflow.blg
cloverflow-tse/cloverflow.log
cloverflow-tse/cloverflow.pdf
cloverflow-tse/cloverflow.synctex.gz
cloverflow.aux
cloverflow_technical_report/cloverflow_survey_rn.aux
cloverflow_technical_report/cloverflow_survey_rn.log
cloverflow_technical_report/cloverflow_survey_rn.pdf
cloverflow_technical_report/cloverflow_survey_rn.synctex.gz
cloverflow_technical_report/cloverflow_survey_rn.bbl
cloverflow_technical_report/cloverflow_survey_rn.blg
cloverflow_survey_rn.out
cloverflow.bbl
